
    * {
      box-sizing: border-box;
    }
      h1 {
        text-align: center;
        transform: uppercase;
        color:white;
      }

      .menu ul {
            margin:0;
            padding:0;
            list-style:none;
            line-height:60px;

          }
          .menu li {
            float:left;
            margin:16px;
          }
          .menu ul li a{
          background:#142b47;
          text-decoration:none;
          display:block;
          text-align:center;
          color:#f2f2f2;
          font-size:16px;
          font-family:sans-serif;
          letter-spacing:0.5px;
          }

          .menu li a:hover {
            color:#fff;
            opacity:0.5;
            font-size:19px;
           }
        .menu li img{
          width:70px;
          height:70px;
        }
        header {
          border:2px solid black;
          background-color: rgba(27,31,34,0.85);
          border-bottom: 95%;
          border-top: 95%;

        }
        h1{
          text-align:center;
        }
        p{
          font-size:25px;
          font-family:sans-serif;
        }
       footer {
          text-align:center;
          border:2px solid black;
          background-color: rgba(27,31,34,0.85);
        }
        body {
          background: url(ETRANS.jpg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        iframe {
          width: 100%;
          height: 700px;
        }      

        @media (max-width: 767px) {
          .menu ul{
            overflow: auto;
            line-height: 30px;

          }

          .menu li {
            float: left;
          }

          header {
            height: 20%;
          }

          iframe {
            width: 100%;
          height: 1000px;
          }
        }
  
