	img{
			width:100%;
			height:120px;
		}
		form{
			text-align: center;
			font-family: sans-serif;
		}
		input {
      text-align:center;
      width: 40%;
      padding: 12px;
      border: 2px solid black;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 12px;
      margin-bottom: 20px;
  }

  h1 {
        text-align: center;
        transform: uppercase;
        color:white;
      }
header {
	background-color: rgba(27,31,34,0.85);

}

label {
	color: white;
}
.CA {
	border: 1px solid black;
	background-color: rgba(27,31,34,0.85);
	width:100%;
	color: white;
	text-align: center;
}
.submit {
	width:100%;
	background-color: rgba(27,31,34,0.85);
	color: white;

}

.submit:hover{
	background-color: #fff2;
	opacity: 0.5px;
	font-size: 19px;
}
.submit2 {
	width:20%;
	background-color: rgba(27,31,34,0.85);
	color: white;

}

.submit2:hover{
	background-color: #fff2;
	opacity: 0.5px;
	font-size: 19px;
}
